// Copyright cmd app, Inc. Licensed under the Apache License, Version 2.0.
// You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0

#include "../command.debug.xcconfig"

PRODUCT_NAME = command $(DEBUG_SUFFIX)
INFOPLIST_KEY_CFBundleDisplayName = command $(DEBUG_SUFFIX)
PRODUCT_BUNDLE_IDENTIFIER = $(HOST_APP_BUNDLE_IDENTIFIER)
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon.debug
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.developer-tools
INFOPLIST_KEY_UserDefaultsSharedSuiteName = $(SHARED_USER_DEFAULTS_SUITE)
INFOPLIST_KEY_ReleaseUserDefaultsSharedSuiteName = $(RELEASE_SHARED_USER_DEFAULTS_SUITE)
INFOPLIST_KEY_DebugUserDefaultsSharedSuiteName = $(DEBUG_SHARED_USER_DEFAULTS_SUITE)
