// Copyright cmd app, Inc. Licensed under the Apache License, Version 2.0.
// You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0

#include "./command.shared.xcconfig"

// Shared release configuration for all targets
RELEASE_SUFFIX =
SHARED_USER_DEFAULTS_SUITE = $(RELEASE_SHARED_USER_DEFAULTS_SUITE)

// Bundle identifiers
HOST_APP_BUNDLE_IDENTIFIER = $(RELEASE_HOST_APP_BUNDLE_IDENTIFIER)
XCODE_EXTENSION_BUNDLE_IDENTIFIER = dev.getcmd.command.Extension

// This cannot be identical to the App's product name. So we add an invisible utf8 character (not visible in Xcode).
XCODE_EXTENSION_PRODUCT_NAME = ؜cmd

INFOPLIST_KEY_UserDefaultsSharedSuiteName = $(SHARED_USER_DEFAULTS_SUITE)
