//  Copyright cmd app, Inc. All rights reserved.
//  Licensed under the MIT License. See License.txt in the project root for license information.

DEBUG_SHARED_USER_DEFAULTS_SUITE = $(TeamIdentifierPrefix)dev.getcmd.debug.shared
RELEASE_SHARED_USER_DEFAULTS_SUITE = $(TeamIdentifierPrefix)dev.getcmd.shared

INFOPLIST_KEY_ReleaseUserDefaultsSharedSuiteName = $(RELEASE_SHARED_USER_DEFAULTS_SUITE)
INFOPLIST_KEY_DebugUserDefaultsSharedSuiteName = $(DEBUG_SHARED_USER_DEFAULTS_SUITE)
APP_VERSION=0.0.24
MARKETING_VERSION=$(APP_VERSION)

RELEASE_APP_BUNDLE_IDENTIFIER = dev.getcmd.command
