// Copyright cmd app, Inc. Licensed under the Apache License, Version 2.0.
// You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0

#include "../command.release.xcconfig"

PRODUCT_NAME = $(XCODE_EXTENSION_PRODUCT_NAME)
INFOPLIST_KEY_CFBundleDisplayName = command Extension
PRODUCT_BUNDLE_IDENTIFIER = $(XCODE_EXTENSION_BUNDLE_IDENTIFIER)
