//  Copyright cmd app, Inc. All rights reserved.
//  Licensed under the MIT License. See License.txt in the project root for license information.

#include "../command.debug.xcconfig"

PRODUCT_NAME = $(XCODE_EXTENSION_PRODUCT_NAME)
INFOPLIST_KEY_CFBundleDisplayName = command Extension $(DEBUG_SUFFIX)
PRODUCT_BUNDLE_IDENTIFIER = $(XCODE_EXTENSION_BUNDLE_IDENTIFIER)
